<launch>
  <node name="sensor_main" pkg="sensor_node" type="sensor_main" output="screen">
      <param name="ANGLE_COEF"    type="double" value="-2"/>
      <param name="ANGLE_COEF_F"    type="double" value="0"/>
      <param name="ROBOT_SPEED"   type="double" value="0.8"/>
      <param name="MIN_ANGLE"    type="int" value="150"/>
      <param name="MAX_DIS"   type="double" value="5.4"/>
      <param name="MAX_DIS_F"   type="double" value="5.4"/>
      <param name="MAX_ANGLE"    type="int" value="170"/>
      <param name="MIN_DIS"   type="double" value="0.21"/>
  </node>
  
</launch>
