<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

    <!--  ************** Global Parameters ***************  -->
    <param name="/use_sim_time" value="true"/>

    <!--  ************** Stage Simulator ***************  -->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find teb_local_planner_tutorials)/stage/experiment_carlike.world">
		<remap from="base_scan" to="scan"/>
  	</node>

  	<include file="$(find base_controller)/launch/cmd_vel_mux.launch"/>
    <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">
       <rosparam command="load" file="$(find base_controller)/param/laser_config_sim.yaml" />
       <!-- <remap from="scan" to="base_scan" /> -->
    </node>
<!--     <include file="$(find base_controller)/launch/gmapping.launch" /> -->
    <!-- <node pkg="base_controller" type="assigner.py" name="assigner" output="screen"/> -->
<!--     <include file="$(find sensor_node)/launch/sensor_node_sim.launch" /> -->
    <!--  ************** Navigation ***************  -->
    <include file="$(find base_controller)/launch/move_base.launch" />
    <!-- <node pkg="ta_lab3" type="safety.py" name="safetyStopper" output="screen"/> -->

	<!--  ****** Maps *****  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner_tutorials)/maps/experiment_4.yaml" output="screen">
                <param name="frame_id" value="map"/>
  </node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load" />

          <param name="initial_pose_x"            value="0"/>
    <param name="initial_pose_y"            value="0"/>
    <param name="initial_pose_a"            value="0"/>
  </node>
	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation.rviz"/>

</launch>
