<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

  <!--  ************** Bot bringup ***************  -->
  <include file="$(find base_controller)/launch/base_controller.launch" />
	<include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>

</launch>
