<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

  <!--  ************** Bot bringup ***************  -->
  <include file="$(find base_controller)/launch/base_controller.launch" />
	<include file="$(find rplidar_ros)/launch/rplidar_a3.launch"/>
	
  <!--  ************** Localization ***************  -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner_tutorials)/maps/experiment_2.yaml" output="screen">
    <param name="frame_id" value="map"/>
  </node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params.yaml" command="load" />
      <param name="initial_pose_x"            value="0"/>
      <param name="initial_pose_y"            value="0"/>
      <param name="initial_pose_a"            value="0"/>
  </node>


  <!--  ************** Navigation ***************  -->
  <include file="$(find base_controller)/launch/move_base.launch" />



	<!--  **************** Visualisation ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find base_controller)/navigation.rviz"/>

</launch>
