<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="/dev/chasis"/>
    <param name="baud" value="57600"/>
  </node>
  <node pkg="base_controller" type="base_controller.py" name="base_controller">
    <param name="mode" value="simple"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="0 0 0 3.14 0 0 base_link laser 20" />
  <include file="$(find base_controller)/launch/cmd_vel_mux.launch"/>
</launch>
